#react-root {
  position: absolute;
  inset: 0;
  background-color: #ededed;
}

#container {
  inset: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  font-family: monospace;
}

#container-right {
  flex: 1;
  display: flex;
  flex-direction: column;

  #gameinfo {
    flex: 0 1;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border-bottom: solid 1px black;
    text-align: center;
  }

  #map {
    flex: 1;
    box-sizing: border-box;
    background-color: #ededed;

    .city-group .title {
      paint-order: stroke;
      white-space: pre;
      text-align: center;
    }

    .city-group .upgrade {
      cursor: pointer;
      text-transform: capitalize;
    }

    .complete-route {
      cursor: pointer;
    }
  }

  #log {
    background-color: white;
    border-top: solid 1px black;
    overflow-y: scroll;
    flex: 0 1 300px;
    height: 300px;

    .message {
      margin: 5px 10px;
    }
  }
}

div#container-left {
  flex: 0 0 300px;
  border-right: solid 1px black;
  box-sizing: border-box;

  > h1 {
    margin: 0 10px 5px;
    font-size: 18px;
  }

  .player-controls {
    background-color: white;
    box-sizing: border-box;

    .phase-info {
      padding: 10px;
      font-size: 20px;
    }

    .action-list {
      margin: 5px 0;
      padding: 5px 5px 5px 25px;
      font-size: 13px;

      > * {
        margin: 0 0 8px 0;
      }

      .action {
        display: block;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
      }
    }

    p {
      margin: 10px 0 0;
    }

    div.buttons {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;

      button {
        flex: 1 1 auto;
        margin: 0 5px 5px 0;
      }
    }
  }

  .player-info {
    margin-top: 10px;
    padding: 0 10px 5px;
    border-bottom: solid 1px black;

    h2 {
      display: flex;
      align-items: center;
      margin: 5px 0;
      text-transform: capitalize;
      .score {
        font-weight: normal;
        font-size: 14px;
        margin: 0 5px;
      }
    }
  }

  .player-quickinfo {
    display: flex;

    .upgrades {
      flex: 1 0 50%;
      box-sizing: border-box;
      width: 50%;
    }
    .markers {
      text-align: center;
      flex: 1 0 50%;
      padding-left: 5px;

      .points {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }

  div.hand {
    margin: 15px 0;
    text-align: center;
  }

  div.rack {
    box-sizing: border-box;
    margin: 10px 0 10px;
    display: flex;
    justify-items: center;
    align-items: center;

    &:first-child {
      border-bottom: solid 1px #ccc;
    }

    .token {
      width: 19px;
      height: 19px;
      margin-left: 3px;
    }

    .next {
      border: solid 2px black;
      width: 15px;
      height: 15px;
    }

    .personal {
      cursor: pointer;
    }
  }

  div.flex {
    display: flex;

    > div {
      flex: 1 0 50%;
      display: flex;
      align-items: center;
    }
    .left {
      justify-content: start;
    }
    .right {
      justify-content: end;
    }
  }

  .inline-marker {
    font-size: 11px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: solid 2px #000;
    line-height: 30px;
    text-align: center;
    background-color: lighten(yellow, 40%);
    cursor: default;
    &::selection {
      background-color: transparent;
    }
    &.used {
      background-color: #ccc;
    }
  }
}

div.token {
  &.merchant,
  &.tradesman {
    margin: 0 5px 0 0;
    display: inline-block;
    width: 15px;
    height: 15px;
  }

  &.merchant {
    border-radius: 10px;
  }
}

.red .token {
  background-color: red;
}

.blue .token {
  background-color: blue;
}

.green .token {
  background-color: green;
}

.yellow .token {
  background-color: #d4af37;
}

.purple .token {
  background-color: purple;
}

.red.token {
  background-color: red;
}

.blue.token {
  background-color: blue;
}

.green.token {
  background-color: green;
}

.yellow.token {
  background-color: #d4af37;
}

.purple.token {
  background-color: purple;
}

.trading-post {
  cursor: pointer;
}

.blink-me {
  animation: blinker 1s linear infinite;
  color: red;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
